{% extends "base.html" %}
{% block title %}Даня&amp;Владик{% endblock %}
{% block content %}
    <main>
        <link rel="stylesheet" type="text/css" href="/static/css/main.css">
        <h1>Заказы</h1>
        <div class="applications">
            {% for app in apps %}
                <div class="application link" onclick="javascript:location.href='/application/{{ app.id }}/';">
                    <div class="top">
                        <h1 class="title"><a>{{ app.title }}</a></h1>
                        <h1 class="price"> {{ app.price }}</h1>
                    </div>
                    <div class="description">
                        <p>{{ app.description }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>

{% endblock %}