{% extends "base.html" %}
{% block title %}Профиль {{ profile.name }} {{ profile.surname }}{% endblock %}
{% block content %}

<main>
    <link rel="stylesheet" type="text/css" href="/static/css/profile.css">
    <div class="profile">
        <div class="info">
            <p>{{ profile.surname }}</p>
            <p>{{ profile.name }}</p>
            <p>{{ profile.email }}</p>
            <p>{{ profile.telephone_number }}</p>
        </div>
        <div class="photo">
            <img src="{{ profile.photo }}">
        </div>
    </div>
    <div class="articles">
        <div class="box">
            <h2 class="block_title">Заказы</h2>
            <div class="apps">
                {% if apps %}
                {% for app in apps %}
                <div class="article link" onclick="javascript:location.href='/application/{{ app.id }}/';">
                    <div class="top">
                        <h1 class="title">{{ app.title }}</h1>
                        <h1 class="price">{{ app.price }}</h1>
                    </div>
                    <div class="description">
                        <p>{{ app.short_description }}</p>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <p class="center">Пользователь не сделал ни одного заказа</p>
                {% endif %}
            </div>
        </div>
        <div class="box">
            <h2 class="block_title">Отклики</h2>
            <div class="responses">
                {% if responses %}
                {% for response in responses %}
                <div class="article link" onclick="javascript:location.href='/application/{{ response.id }}/';">
                    <div class="top">
                        <h1 class="title">{{ response.title }}</h1>
                        <h1 class="price">{{ response.price }}</h1>
                    </div>
                    <div class="description">
                        <p>{{ response.description }}</p>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <p class="center">Пользователь ни разу не откликнулся</p>
                {% endif %}
            </div>
        </div>
    </div>
</main>

{% endblock %}